<div class="pp">
    <div class="teacher-header">

        <!-- <div class="teacher-img">
            <img src="grey-employee-avatar-icon-vector-32550065.avif" alt="" class="profile-img">
        </div> -->


        <div class="teacher-info">

            <label class="teacher-name">Name : ahmad ali </label>
            <label>Email : ahmad@example.com</label>
            <label>Phone : 0785974569456</label>

        </div>



    </div>
    <div class="teacher-body">


        <div class="cards">
            <button type="button" class="btn">
                <i class="bi bi-book"></i>
                <br>
                Assignments
            </button>
        </div>
        <div class="cards">
            <button type="button" class="btn ">
                Attendance
            </button>

        </div>
        <div class="cards">

            <button type="button" class="btn ">
                <i class="bi bi-backpack2"></i>
                <br>
                edu track
            </button>


        </div>



    </div>
</div>

