.pp {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.teacher-header {
    width: 70%;
    border-radius: 30px;
    box-shadow: 3px 3px 6px #888888;
    background-color: #ffffff;
padding: 0 0 0 25px;
}

.profile-img {
    padding: 10px 0;
    width: 50%;
    border-radius: 50%;

}


.teacher-img {
    width: 40%;
    display: flex;
    justify-content: center;

}

.teacher-info {
    width: 60%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.teacher-name {
    font-size: 2.5rem;
    color: black;

}


.teacher-body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}

.btn {

    width: 100%;
    background-color: rgb(179, 179, 179);
    border-radius: 0;
    height: 70%;
    align-content: center;
    border-radius: 0 0 15px 15px ;
}

.card-title {

    height: 30%;
    align-content: center;
}


.card {

    margin: 15px 15px;
    padding: 0;
border-radius: 15px
;}

.img-card {
    height: 50%;
    border-radius: 15px 15px 0 0 ;
}

.card-body {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 0 0;
}

.navbar {

    height: 7.5REM;
    background-color: #ffffff !important;
}
.logo{
    height: 100px;
width: auto;

}
/* @media screen and (max-width: 800px) {
    .teacher-header {
        flex-direction: column;
    }

    .teacher-name {
        font-size: 1rem;
    }

    .teacher-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        font-size: 1rem;




    }

    .teacher-body {
        flex-direction: column;
        align-items: center;
    }

    .card {


        margin: 10px 15px;
        width: 60% !important;
    }

} */