.pp {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.teacher-header {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 30px;
    box-shadow: 3px 3px 6px #888888;
    background-color: #e7e7e7;

}

.profile-img {
    padding: 10px 0;
    width: 50%;
    border-radius: 50%;

}


.teacher-img {
    width: 40%;
    display: flex;
    justify-content: center;

}

.teacher-info {
    width: 60%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.teacher-name {
    font-size: 2.5rem;
    color: black;

}

/* .info {
    color: gray;
    width: 100%;
    font-weight: 400;

} */

.cards {
    background-color: #e8e3e3e6;
    width: 25%;
    height: 140px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #888888;
}

.cards:hover {
    transform: scale(1.1);
    background-color: #5d6b6ba1;
}

.teacher-body {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 10px;
}

.btn {

    width: 100%;
    height: 100%;
    background-color: #5D6B6B;
    color: #FFFF;
}

.bi {
    width: 100%;


}

@media screen and (max-width: 800px) {
    .teacher-header {
        flex-direction: column;
    }

    .teacher-name {
        font-size: 1rem;
    }

    .teacher-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        font-size: 1rem;




    }

    .teacher-body {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 80%;
    }

}