.btn {

    width: 20%;
    background-color: rgb(171 213 255);
    border-radius: 0;
    /* height: 70%; */
    align-content: center;
    border-radius:15px ;
}
.card-header{
    background-color: white;
}
td,th{

text-align: center;

}
@media screen and (max-width: 800px) {
.btn {
        width: 100%;

}


}