.btn {

    width: 20%;
    background-color: rgb(171 213 255);
    border-radius: 0;
    /* height: 70%; */
    align-content: center;
    border-radius:15px ;
}
.card-header{
    background-color: white;
}
td,th{

text-align: center;

}

.score-input{

display: inline;
width: auto;


}

.input{
    width: 100%;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 800px) {
.btn {
        width: 100%;
        margin-bottom: 20px;

}

}

