.btn {

    width: 20%;
background-color:rgba(30, 48, 80);
  color:#ffffff;
    border-radius: 0;
    /* height: 70%; */
    align-content: center;
    border-radius:15px ;
}
.btn:hover{
 background-color:rgb(64, 87, 128);
}
.card-header{
    background-color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td,th{

text-align: center;

}

.score-input{

display: inline;
width: auto;


}

.input{
    width: 50%;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 800px) {
.btn {
        width: 100%;
        margin-bottom: 20px;

}
.input{
    width: 100%;
}
}
.text-center{
    color: rgb(3, 3, 14);
}
::ng-deep .ngx-pagination .current {
  background-color: #002b5c !important;  
  color: white !important;              
  border-radius: 6px;                  
  border: none !important;
}
.form-label{
    font-weight: bold;
}

.form-control:focus,
.form-select:focus {
  border-color: rgb(97, 131, 190) !important;        
  box-shadow: 0 0 5px rgb(100, 138, 203) !important;  
  outline: none;
}
