
.modal-content {
  border-radius: 15px;
  border: none;
  background-color: #f9f9f9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.modal-header {
  border-bottom: none;
  text-align: center;
  justify-content: center;
  padding-bottom: 0;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.modal-body form .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-label {
  font-weight: 500;
  color: #444;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px 12px;
  font-size: 15px;
  transition: all 0.2s ease;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}


textarea.form-control {
  resize: none;
  height: 120px;
}


.modal-footer {
  border-top: none;
  justify-content: center;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #ccc;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
}

.btn-secondary:hover {
  background-color: #b3b3b3;
}


.modal-dialog {
  max-width: 600px;
}

.modal-body {
  padding: 25px 30px;
}


.modal-lg {
  border-radius: 20px;
}


div > .btn.btn-outline-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto; 
  width: 610px; 
  height: 340px; 
  border: 2px dashed #555555; 
  border-radius: 20px;
  background-color: #f0f0f0; 
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}


div > .btn.btn-outline-secondary i {
  font-size: 2rem;
  margin-right: 10px;
}


div > .btn.btn-outline-secondary:hover {
  background-color: #00000025;
  color: #f0f0f0; 
  border: 2px solid #555555;
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}

