.pp {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.teacher-header {
    width: 70%;
    height: 170px;
    border-radius: 30px;
    box-shadow: 3px 3px 6px #888888;
    background-color: #ffffff;
    padding: 0 0 0 25px;
    box-shadow: 0 4px 25px rgb(185, 210, 245);



    margin: 15px;
}


.profile-img {
    padding: 10px 0;
    width: 50%;
    border-radius: 50%;

}


.teacher-img {
    width: 40%;
    display: flex;
    justify-content: center;

}


.teacher-info {
    width: 60%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin: 15px;



}


.teacher-name {
    font-size: 2rem;
    color:rgba(30, 48, 80);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;


}


.teacher-body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}

.btn {

    width: 100%;

    background-color: rgba(30, 48, 80);
    color: #ffffff;
    border-radius: 0;
    font-weight: bold;
    height: 70%;
    align-content: center;
    border-radius: 0 0 15px 15px;

}

.btn:hover {
    background-color: rgb(64, 87, 128);
}


.card-title {

    height: 30%;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}


.card {

    margin: 15px 15px;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 4px 25px rgb(185, 210, 245);

}

.img-card {
    height: 40%;
    width: 70%;
    border-radius: 15px 15px 0 0;

    margin: 50px;
}

.card-body {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 0 0;
}

/* .navbar {

    height: 7.5REM;
    background-color: #ffffff !important;
}
.logo{
    height: 100px;
width: auto;

} */
@media screen and (max-width: 800px) {
    .teacher-header {
        flex-direction: column;
    }

    .teacher-name {
        font-size: 1rem;
    }

    .teacher-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        font-size: 1rem;




    }

    .teacher-body {
        flex-direction: column;
        align-items: center;
    }

    .card {


        margin: 10px 15px;
        width: 60% !important;
    }

}