.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 30px;
  border-radius: 5%;

}

.card-body {
  padding: 0;
  text-align: center;

}

.btn {
  width: 100%;
  height: 40vh;
  background-color: rgba(30, 48, 80);
  color: #ffffff;
  border-radius: 5%;
  align-content: center;
}

.btn:hover {
  background-color: rgb(64, 87, 128);
}

.form-control:focus {
  border-color: rgb(97, 131, 190);
  box-shadow: 0 0 5px rgb(100, 138, 203);
  outline: none;
}

.required-input-warning {
  border-color: #d10000;
}

.invalid-input-message {
  font-size: 0.9rem;
  padding: 1%;
  color: #d10000;
}