<div class="container">
  <div class="card shadow-sm  rounded-4">
    <div class="card-header text-center bg-light rounded-top-4">
      <h4 class="admin">Admin</h4>
    </div>
    <div class="card-body" >
      <form [formGroup]="SaveUserForm" >
        <div class="row">
          <div class="col-6 mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control rounded-3" id="name" placeholder="Enter name" formControlName="Name" />
          </div>

          <div class="col-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control rounded-3" id="email" placeholder="Enter email" formControlName="Email" />
          </div>
          <div class="  col-6 mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control rounded-3" id="phone" placeholder="Enter phone" formControlName="Phone" />
          </div>
        </div>


        <div class="d-flex flex-wrap gap-2 justify-content-center">
          <button type="button" class="btn btn-secondary rounded-5 px-4" (click)="addParent()">
            Add as Parent
          </button>
          <button type="button" class="btn btn-secondary rounded-5 px-4" (click)="addTeacher()">
            Add as Teacher
          </button>
        </div>
      </form>
    </div>
  </div>
</div>