<div class="container">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="#" class="btn btn-primary" routerLink="/adminParent" routerLinkActive="active">Parent</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="#" class="btn btn-primary" routerLink="/adminTeacher" routerLinkActive="active">Teacher</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="#" class="btn btn-primary" routerLink="/adminStudent" routerLinkActive="active">Student</a>
    </div>
  </div>

</div>