<div class="min-vh-100 d-flex align-items-center justify-content-center bg-light">

  <form class="card shadow-sm p-4 rounded-4" style="width: 80%; max-width: 450px;">
  
    <div class="position-relative mb-3 text-center">
      <img src="assets/project-logo.png" alt="Logo" class="logo-left rounded-3">
      <div class="h4 mb-1">EduTrack</div>
      <div class="h6 text-muted">Login</div>
    </div>

    <div class="mb-3">
      <label for="usernameControl" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="usernameControl"
        formControlName="Username"
        placeholder="please Enter username" />
    </div>

    <div class="mb-3">
      <label for="passwordControl" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="passwordControl"
        formControlName="password"
        placeholder="please Enter password" />
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-secondary">Login</button>
    </div>
  </form>

</div>
