
body {

  background-color: #fff !important;

}

.info {
  width: 40%;
}

.img {
  width: 40%;
}

.con {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 15px
}

h4,
h6 {
  text-align: center;
}
.btn{
color: #fff;
background-color: rgb(64 136 206);

}


@media screen and (max-width: 800px){

.con{
flex-direction: column;

}

.info {
  width: 80%;
}

.img {
  display: none;
}
}
  
